.footer {
  clear: both;
  position: fixed;
  width: 100vw;
  background-color: #FFFFFF;
  bottom: 0px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 30vw;
  height: 4vh !important;
}

.seekCharacterText {
  margin-bottom: 10px !important;
}

.characterNameText {
  margin-bottom: 20px !important;
}

@media (max-width: 1280px)
{
  .searchBar {
    width: 30vw;
    height: 5vh !important;
  }
  .seekCharacterText {
    font-size: 24px !important;
  }
}


@media (max-width: 600px)
{
  .searchBar {
    width: 80vw;
    height: 5vh;
  }
  .seekCharacterText {
    text-align: center;
    font-size: 28px !important;
  }
  .characterNameText {
    text-align: center;
  }
}
