.logo {
  width: 10vw;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.logo:hover {
  opacity: 0.5;
}

@media (max-width: 960px)
{
  .logo {
    width: 12vw;
  }
}

@media (max-width: 600px)
{
  .logo {
    width: 25vw;
  }
}
